<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    
    <p v-if="sex === 1">性别：男</p>
    <p v-else>性别：女</p>
    
    <hr>
    
    <p v-if="score >= 90">成绩评定A：奖励电脑一台</p>
    <p v-else-if="score >= 80 && score < 90">成绩评定B：奖励周末郊游</p>
    <p v-else-if="score >= 60 && score < 80">成绩评定C：奖励零食一包</p>
    <p v-else>成绩评定D：惩罚一周不能玩手机</p>


  </div>
 
  <!-- 2、通过本地导入 Vue 包 -->
 <script src="./js/vue.js"></script>
 
 <script>
  const app = new Vue({
    el: '#app',
    data: {
      sex: 1,   // 1-男 2-女
      score: 65
    }
  })
 </script>
</body>
</html>