<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-作用域插槽</title>
    <!-- 
        作用域插槽：
            父组件对子组件的内容加工处理
     -->
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="appBox">
        
        <alert-box v-bind:list="list"></alert-box>

        <alert-box v-bind:list="list">
            <template v-slot='slotProps'>
                <!-- 指定第2个插槽样式加粗 -->
                <strong v-if='slotProps.info.id==2' class='current'>{{slotProps.info.name}}</strong>
                <span v-else>{{slotProps.info.name}}</span>
            </template>
        </alert-box>
    </div>
    
    <script>
        
        const app = Vue.createApp({
            data() {
                return {
                    list: [{
                        id: 1,
                        name: 'apple'
                    },{
                        id: 2,
                        name: 'orange'
                    },{
                        id: 3,
                        name: 'bannana'
                    }],
                }
            },
            
        })
        // 注册组件：button-counter
        app.component('alert-box', {
            props: ['list'],
            template:`
                <div>
                    <li :key='item.id' v-for='item in list'>
                        <slot :info='item'>{{item.name}}</slot>
                    </li>
                </div>`,
        })
        app.mount('#appBox')
    </script>
</body>
</html>